<form id="topMenu">
    <input type="text" ng-model="noun" placeholder="person place or thing"/>
    <input type="text" ng-model="adjective" placeholder="describe the person place or thing"/>
    <input type="text" ng-model="verb" placeholder="action word"/>
    <input type="text" ng-model="noun2" placeholder="person place or thing"/>
    <input type="text" ng-model="adjective2" placeholder="describe the person place or thing"/>
    <input type="text" ng-model="verb2" placeholder="action word"/>
    <input type="text" ng-model="noun3" placeholder="person place or thing"/>
    <a href="#/Submit" ng-click="save()"><button>Save</button></a>
</form>